.solde_block {
    
    .display-box;
    .box-align(center);
    
    .solde_text {
        .box-flex;
        font-size: 0.7em;
        color: @light_text_color;
        margin-top: 10px;
    }
    
    .solde_amount {
        .box-flex;
        font-size: 2.3em;
        color: @title_color;
        margin-left : 20px;
        margin-right : 20px;
    }
    
}
