


.contribution_summary {
    .display-box;
    .box-orient;
    .box-pack(center);

    width:100%;
    
    h2 {
        width:100%;
        text-align: center;
        font-family: @title_fonts;
        margin-bottom: 20px;
    }

}

.feature_contribution_summary {
    .box-flex;
    border-right: 1px solid @border_color;
    padding-right: 30px;
    padding-left: 30px;
    
    .define_p{
        margin-top: 5px;
        max-width: 300px;
    }
    
}

.author_contribution_summary {
    .box-flex;
    padding-right: 30px;
    padding-left: 30px;
    
    .define_p{
        max-width: 300px;
    }
}

.change_line {
    .display-box;
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.money_variation {
    .box-flex;
    .display-box;
    .box-orient;

}

.money_variation_before_up, .money_variation_before_down, .money_variation_after_up, .money_variation_after_down  {
   .box-flex;
   font-weight: bold;
   font-size: 1.3em;
   margin-left: 15px;
   margin-right: 15px;
}

.money_variation_before_up {
    text-align: right;
}

.money_variation_before_down {
    text-align: right;
    margin-top: 30px;
}

.money_variation_after_up {
    text-align: left;
}

.money_variation_after_down {
    text-align: left;
    margin-top: 40px;
}

.money_variation_image {

}

.money_diff_up {
    color: @money_up_color;
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 10px;
    font-size: italic;
}

.money_diff_down {
    color: @money_down_color;
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 10px;
    font-size: italic;
}

.contribution_actions {

    margin-top: 70px;
        margin-bottom: 100px;
    text-align: center;
    
    .use_account {
        font-size: 1.2em;
        font-weight: bold;
        color: @orange;
    }
    
}

.quotation_details_lines {
    //width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    
    tr {
        background-color: transparent;
    }
    
    tr:nth-child(even) {
        background-color: transparent;
    }

    tr:nth-child(odd) {
        background-color: transparent;
    }   
}

.quotation_detail_line {
    
    //padding-left: 5px;
    //padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    
    width: 100%;
    
    td {
        border: none;
    }
    
    .software_logo_block {
        width: 30px;
        height: 30px;
    }
    
    .software_logo_small_block, .avatar_small_block{
        margin-left: 5px;
    }
    
    .quotation_detail_line_categorie {
        margin-left: 20px;
        min-width: 120px;
        
        .details {
            font-size: 0.7em;
            color: @light_text_color;
        }
    }
    
    .quotation_detail_line_description {
        font-size: 0.7em;
        color: @light_text_color;
        //max-width: 300px;
        margin-left: 30px;
    }
    
    
    .quotation_detail_line_money {
        font-size: 1.2em;
        color: @dark_text_color;
        min-width: 3em;
        text-align: right;
        padding-right: 10px;    
        padding-left: 10px;
    }
    
    .quotation_detail_line_amount {
    
        margin-left: 20px;

        
        .quotation_detail_line_amount_money {
            font-size: 1.4em;
            //font-weight: bold;
            color: @dark_text_color;
            text-align: right;
        }
        
        .quotation_detail_line_amount_modify {
            font-size: 0.7em;
            text-align: right;
            margin-bottom: 0px;
            margin-top: -4px;
            margin-right: 10px;
        }
        
        
    }
    
    .quotation_detail_line_field {
        form {
            .display-box;
            .box-orient(vertical);
        }
        width: 100px;
        .field {
        
            
            font-size: 0.7em;
            color: @dark_text_color;
            text-align: right;
            
            margin: 0px;
           
            .input {
                .input_field {
                    float: none;
                    margin: 0;
                    
                    .money_input {
                    
                        input {
                            width: 80px;
                        }
                    }      
                }
            }
            
            input[type="submit"] {
                width: 80px;
                margin: 0;
                border: none;
                background: none;
                color: @default_link_color;
                font-size: 1.0em;
                font-weight: normal;
                .no-shadow;
                text-shadow: none;
                padding: 0;
                
                text-align: right;
            margin-bottom: -15px;
            margin-top: -15px;
            margin-right: 10px;
            }
            
        }
    }
    
    border-bottom: 1px solid @border_color;
}

.quotation_totals_lines_block {
    float: right;
    padding-right: 18px;
    width: 350px;
}

.quotation_totals_lines {
    //.display-box;
    //.box-orient(vertical);
    //.box-pack(center);
    //.box-align(stretch);
    margin:  0px;
    margin-top:  40px;
    border: none;
    width: 100%;
    
    tr:nth-child(1), tr:nth-child(2n+1), tr:nth-child(2n) {
        background-color: transparent;
    }
    
    td:first-child {
        border-left: none;
    }
    
    td {
        border-top: none;
        padding: 0;
        border-left: none;
    }
    
    
    .quotation_total_line, .quotation_total_line_ht, .quotation_total_line_total, .quotation_total_line_details  {
        //.display-box;
        //.box-orient(horizontal);
        //.box-align(center);
        //.box-flex;
        
        .money {
            //.box-flex;
            //width: 100px;
            text-align: right;
            font-size: 1.4em;

            color: @dark_text_color;
            
            
            min-width: 150px;
            
        }
        
        .details {
            font-size: 0.7em;
            color: @light_text_color;
        }
        
        .label {
            //.box-flex;
            font-size: 1.1em;
            //width: 300px;
            min-width: 190px;
        }        
    }
    
    .quotation_total_line {
        border-bottom: 1px solid @border_color;
        
        .label {
            padding-top:  12px;
        }
    }
    
    
    .quotation_total_line_ht {
        color: @light_text_color;
        font-size: 0.8em;

        .label {
            padding-top:  12px;
        }     
        .money {
            color: @light_text_color;
        }
    }
    
    .quotation_total_line_total {
       .label {
            padding-top:  18px;
        }     
    }
    
    
    
    .quotation_total_line_total {
        margin-top:  10px;
        
         .money {
            padding-top:  14px;
            font-size: 1.8em;
            color: @link_title_color;
            font-weight: bold;
            
        }
        
        .label {
            font-size: 1.5em;
            color: @dark_text_color;
        }        
    }
    
   
    
    .quotation_total_line_details_block {
        
        font-size: 0.7em;
        
        .label {
            
            margin-left: 10px;
            padding-left: 10px;


            // border-left: 1px solid @border_color;
        
        }
        
        div {
            margin-top:  10px;
            margin-bottom:  10px;
        }
        

        //.display-box;
        //.box-orient(vertical);
       
        .quotation_total_line_details {

            width: 100%;
        }
    }
}

.pay_actions {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: right;
    float: right;
    max-width: 400px;
    
    a {
        font-size: 0.8em;
    }
    
    .button, input[type=submit] {
        font-size: 1.3em;
        margin-left: 20px;
        margin-right: 0;
        padding: 7px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        .rounded_corners(9px);
    }
    
    .debug {
        text-align: left;
        max-width: 400px;
        font-size: 0.8em;
        color: @error_color;
    }
    
    .use_account {
        font-size: 1.2em;
        font-weight: bold;
        color: @orange;
    }
    
    .tos {

        .input {
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .label {

            label{
                font-size: 0.9em;
                font-weight: bold;

                a {
                    font-size: 1em;
                    font-weight: bold;
                }
            }

            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 400px;

            text-align: left;
        }
    }

    .payment_methods {
        margin-left: -120px;
        //border: 1px solid red;
     //   width: 650px;
    
        p {
            text-align: left;
            color: @light_text_color;
            font-size: 0.9em;
            margin-bottom: 3px;
        }
    
        .field {
            display: table-cell;
            //width: 600px;
            padding-right: 50px;
            vertical-align: middle;
            height: 75px;
            .label {
                width: 100px;
                min-width: 0px;
                //display: inline-block;
                padding-right: 0px;
            }
            .input {
                vertical-align: middle;
                //height: 100px;
                //display: block;
            }
        }
    }
}

.prepaid_line_fake_link {
    .fake_link;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: -10px;
}

.contact_box {
    .padding_box;
    margin: 40px;
    width: 300px;
    font-size: 0.8em;
}


