@import "include/constants";
@import "include/colors";
@import "include/tools";
@import "include/components";

@import "core/logo";
@import "core/topbar";
@import "core/notifications";
@import "core/tabs";

body {
    color: @default_text_color;
    font-family: @default_fonts;
    //background-color: @default_background_color;
    background: -moz-linear-gradient(0deg, rgb(230,230,230), rgb(250,250,250));
    font-size:0.9em;
    .no_insets;
}

#page {
    .no_insets;
}

#footer {
    bottom: 0px;
    margin: 0;
    margin-left: 3%;
    margin-bottom : 50px;

    background-color: rgb(253,253,254);
    border: 1px solid rgb(200,200,200);
    padding: 1em;
    width: 90%
    
}



#center {
    background-color: rgb(253,253,254);
    border: 1px solid rgb(200,200,200);
    -moz-box-shadow: (@default_shadow_thickness - 1) 0 @default_shadow_thickness rgb(100,100,100);
    -webkit-box-shadow:0 0 @default_shadow_thickness rgb(100,100,100);
    
    padding: 0px;
    margin: 0px;
    margin-bottom: 2em;

    text-align: center;


}

#center_column {
    text-align: left;
    max-width: 1200px;
    min-width: 200px;
    margin: 0px auto;
}


#main_menu {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
    margin: 0.5em;
    padding-top: 5em;
    border-right: 1px dashed rgb(200,200,200);
}

#main_menu ul {
    padding-left: 0.5em;
    border-bottom: 1px dashed rgb(200,200,200);
}


#body_content {
    display: table-cell;
    vertical-align: top;
    margin: 1em;
    padding: 1em;
    font-family: "sans";

    width:100%;

}


