@import "include/tools";
@import "include/colors";


.idea_link {
   
}

.idea_link_text {
    color: @default_text_color;
     font-size: 0.9em;
     margin: 0px;
     padding: 0px;  
     max-width: 400px;
     text-align: justify;
     
}

.idea_progress_text {
    color: @default_text_color;
     font-size: 0.8em;
     margin: 0px;
     padding: 0px;
     margin-top : 1px;
     margin-bottom : 7px;
     color: rgb(150,150,150);
     text-align: center;
     .important {
        font-size: 1.2em;
        margin-left: 15px;
        margin-right: 15px;
        color:rgb(20,20,20);
     }
     max-width: 400px;
     
     a{
        color: rgb(97,152,176);
     }
     
     a:hover{
        color: rgb(109, 176, 204);
     }
}

.idea_summary {
    width: 100%;
    max-width: 600px;
    padding: 0px;
    margin-bottom: 2em;
    
    .box;
     
    h3 {
     font-size: 1.1em;
     margin: 0px;
     margin-top: 10px;
     padding: 0px;
    }
    
}

.idea_summary_left {
    display:table-cell;
    vertical-align: top;    
    margin: 0px;
    padding: 0px;
}

.idea_summary_left p {
    margin: 0px;
    padding: 0px;
}

.idea_summary_right img {
    border: none;
    float: right;
    margin-left:10px;
    margin-top:3px;
}

.idea_summary_right {
    display:table-cell;
    
    .no_insets;
    vertical-align: middle;
}

.idea_summary_center {
    display:table-cell;
    
    .no_insets;
    vertical-align: middle;
    width: 100%;
}

.idea_summary_right h3 {
    margin: 10px;
    margin-top: 0px;
    padding: 0px;
    font-size: 1.0em;
}

.progress_block p{
    display:table-cell;
    padding-left: 0.5em;
    vertical-align: middle;
}

.progress_bar_block {
    margin-left: 0em;
    max-width: 400px;
}

.idea_karma {
    
    margin: 0px;
    margin-right: 15px;
    margin-left: 0px;
    padding: 10px;
    
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: bottom;
    
    
    .radial-gradient(rgb(240,240, 255), rgb(220,220, 240));
    
    border-right: 1px solid rgb(190,190, 200);
    border-bottom: 1px solid rgb(190,190, 200);
    
    color: rgb(20,25,20);
    font-size : 1.0em;
    width: 1.5em;
    text-align  :center; /*Moins prioritaire*/
}

.idea_karma p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    
}

.progress_bar{
    display:block;
    .rounded_corners(6px);

    height:8px;
    border: 1px solid rgb(150,150,150);
    background: rgba(255,255,255,0);
    padding:0;
    margin-top:0px;
    margin-bottom:0px
    
}


.progress_bar_state{
    display:block;
    //background: rgb(32,141,188);
    @gradient_color: rgb(32,141,188);
    .horizontal-gradient(@gradient_color * 0.8, (@gradient_color * 1.0));
    
    .rounded_corners(6px);
    height:8px
}

