
.global_description, .global_personal_description {

    position: relative;
        
    .padding_box;
    text-align:center;
    margin-bottom: 20px;
    padding-top: 15px;
    
    img {
        max-width: 100%;
        border: none;
    }
    
    h1 {
        font-size: 2em;
    }
    
    .three-column {
    
        h1 {
            font-size: 0.9em;
            margin-left: 00px;
            margin-bottom: 0px;
            margin-top: -5px;
        }
    
        ul {
            margin: 0px;
        }
    
        li {
            margin: 0px;
            margin-bottom: 3px;
        }
    
        text-align: left;
        width: 100%;
        .left-column {
            display: table-cell;
            width: 50%;
            
            .index-underline {
                margin-bottom: 10px;
                
            }
            
            padding-right: 10px;
        }
        
        /*.center-column {
            display: table-cell;
            width: 30%;
        }*/
        
        .right-column {
            display: table-cell;
            width: 50%;
            
            
        }
        
        .feature-p {
            margin: 0px;
            margin-bottom: 3px;
            font-size: 0.8em;
        }
        
        .index_element {
            margin-bottom: 0px;
        }
        
        .item_date {
            padding-left: 10px;
        }
        
        .feed_icons {
        
            margin-top: -5px;
        }
        
    
    }
    
    .item_content {
        font-size: 0.8em;
    
        .markdown_block {
            display: inline;
            
            p {
                margin: 0px;
                display: inline;
            }
        }
    }
    
    .public_index_link {
        position: absolute;
        font-size: 0.7em;
        right: 5px;
        bottom: 2px;
    }
    
    .index-underline {
        height: 1px;
        width: 90%;
        @activiy_border_color: rgb(184,184,184);
        .vertical-gradient-1-stop(@activiy_border_color, @activiy_border_color,  @light_background_color);
    }
    
}

.global_personal_description {
    padding-bottom: 0px;
    .elveos_summary {
        font-size: 1.0em;
        margin-bottom: -2px;
    }
}

.feature_list{
    margin-top: 10px;
}

.feature_list_row {
clear: both;
    margin-bottom: 20px;
}

.feature_list_left_case, .feature_list_right_case {
    width: 49%;
}

.feature_list_left_case {
    float: left;
}

.feature_list_right_case {
    float: right;
}

.index_element {
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    .float_right {
        margin-bottom:5px;
    }

    h2 {
        margin-left: 10px;
        font-size: 1.3em;
        font-family: @title_fonts;
        border: none;
        margin-bottom: 0px;
        margin-top: 5px;
        height: 20px;
    }
    
    .index_body_element {
        .box;
        padding: 10px;
        background-color: @hightlight_background_color;
        position: relative;
        height: 160px;
    
        h3 {
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 1.3em;
            font-weight: normal;
            height: 35px;
            a {
            font-size: 1.0em;
                color: @title_color;
            }
            
            a:hover {
                color: @light_link_color;
            }
        }
        
        .define_p {
            margin-bottom: 25px;
        }

        

        .software_link a {
            font-size: 1.0em;
        }
        
        .float_right {
            margin-left: 5px;
        }

        .feature_summary_details {
            position: absolute;
            bottom: 5px;
            right: 10px;
            text-align: right;
            margin-top: 20px;

            a {
                color: @light_text_color;
                font-size: 0.8em;
            }

            a:hover {
                color: @light_link_color;
            }
        }
        
        .successImageBlock {
            position: absolute;
            left: -15px;
            bottom: -30px;
        }
    }
}

.all_features_button{
    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
}

.elveos_summary{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 00px;
    color: @average_grey ;
    text-align:center;
    
    .count_line{
        margin-right: 5px;
        margin-left: 5px;
    }

    font-family: @title_fonts;
    font-size: 1.1em;
}

.news_feed {
    .feed_icons {
        float: right;
    }

    .feed_icon{
        max-height: 23px;
        margin-right: 2px;
        margin-left: 2px;
    }
    
    .feed_list {
        li {
            border-bottom: 1px solid @light_border_color;
        }
        
        li:last-of-type {
            border: none;
            margin-bottom: -15px;
        }
    
        .feed_item {
            margin-bottom: 5px; 
            .item_date {
                font-size: 0.8em;
                color: @average_grey;
            }
        }
    }
}
