@import "include/colors";
@import "include/tools";
@import "include/components";
@import "demand/compact-demand";

.global_description {
    .padding_box;
    text-align:center;
    margin-bottom: 20px;
    
    img {
        max-width: 100%;
    }
    
    h1 {
        font-size: 2em;
    }
}
/*
.demand_list_left_case, .demand_list_right_case {
    //display: table-cell;

    margin: auto;
    
    .compact_demand_summary {
        
    }
    
    
}

.demand_list_left_case {


    //width: 522px;


    .index_element {
    margin-right: 20px;    
    }

    
    
}*/


.demand_list_row {
    .display-box;
    .box-orient(horizontal);
    width:100%;
    -moz-box-lines: multiple;
    box-lines: multiple;
    //-webkit-box-lines: multiple;
    margin-bottom: 20px;
    min-width: 850px;
 
}

.demand_list_left_case, .demand_list_right_case {
    .box-flex;
    
    .display-box;
    .box-pack(center);
    

    
}


.index_element {

    
    
    width: 400px;
    
    
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    .float_right {
        margin-bottom:5px;
    }

    h2 {
        margin-left: 10px;
        font-size: 1.3em;
        font-family: @title_fonts;
    }

    .index_body_element {
        .box;
        padding: 10px;
        background-color: @hightlight_background_color;
    
        h3 {
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 1.3em;
            font-weight: normal;
            //font-style: italic;
            height: 3.5em;
            color: @light_title_color;
        }
        
        .define_p {
            margin-bottom: 15px;
        }
    
    }
}
