.md_preview{
    border: 3px;
}

.markdown_block {
    p {
        font-size: 1em;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    ul {
        margin-left: 25px;
        list-style: circle outside none;
        li {
            text-align: justify;
        }
    }
    
}
