.member_page {
    .padding_box;
    
    
    blockquote {
        float: right;
    }
    
}

.member{
    margin-left: 20px;
    .clearer{
        border-bottom: 1px solid @border_color;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    
    h2{
        font-size: 1.3em;
    }
}

.member_avatar {
   display: table-cell;
   min-width: 90px;
   vertical-align: middle;
}

.member_id{
    display: table-cell;
    width: 100%;
    margin-bottom: 40px;

    ul{
        margin:0px;
    }
    .id_category{
        color:@average_grey;
        font-style: italic;
    }
}

.avatar_block{
    margin-right: 10px;
}

.member_teams_list{
    list-style: circle outside none;
    margin-left: 40px;
    font-size: 1.3em;
}

.member_tabs{
    .tab_pane{
        margin:20px;        
    }
    
    h2{
        border:none;
    }
}

.dashboard {

    .software_logo {
        max-height: 50px;
        max-width: 50px;
    }
    
    .feature_complete_title feature_title{
        font-size: 0.85em;
    }
    
    .progress_text{
        font-size: 0.7em;
    }
    
    .entry {
        border: 1px solid #E1E1E1;
        border-radius: 4px 4px 4px 4px;
        width: 100%;
        margin-top: 15px;
    
        .left_column{
            min-width: 325px;
            display:table-cell;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            vertical-align: middle;

            
            .block {
                display: block;
            }
            
            .feature_box {
                .progress_box {
                    display: inline-block;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    width: 100%
                }
            }
            
            .next_step{
                background: rgb(239,239,239);
                border: 1px solid rgb(174,174,174);
                .rounded_corners(5px);
                padding-left: 10px;
                
                h2{
                    margin-top: 3px;
                    margin-bottom: 1px;
                    font-family: Purisa,sans-serif;
                }
                                
                .content {
                    margin-left: 7px;
                    margin-top: 0px;
                    margin-bottom: 2px;
                }
            }
        } /*.left_column*/
        
        .right_column{
            display:table-cell;
            width: 100%;
            padding-right: 20px;
            
            .right_entry {
                width: 100%;
                margin-bottom: 15px;
            
                .state {
                    .rounded_corners(5px);
                    min-width: 80px;
                    border: 1px solid rgb(174,174,174);
                    background: rgb(239,239,239);
                    display:table-cell;
                    min-width: 75px;
                    text-align: center;
                    vertical-align: middle;
                }
                
                .status_box {
                    margin-top: 30px;
                    width: 100%;
                    display:table-cell;
                
                    .state_status {
                        .triangle-border(10px, rgb(174,174,174), rgb(239,239,239), rgb(20,20,20);
                    }
                }
                
                .state_status:after {
                    .triangle-border-after(10px, rgb(174,174,174), rgb(239,239,239), rgb(20,20,20);
                }
            }
            
        } /*.right_column*/
    }

    .entry_bubble {
        .triangle-border(10px, rgb(174,174,174), rgb(239,239,239), rgb(20,20,20);
    }
    
    .entry_bubble:after {
        .triangle-border-after(10px, rgb(174,174,174), rgb(239,239,239), rgb(20,20,20);
    }
}
