.member_page {
    .padding_box;
}


.member{
    margin-left: 20px;
    .clearer{
        border-bottom: 1px solid @border_color;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    
    h2{
        font-size: 1.3em;
    }
}

.member_id{
    margin-bottom: 40px;

    ul{
        margin:0px;
    }
    .id_category{
        color:@average_grey;
        font-style: italic;
    }
}

.pages_list{
    list-style: none;
}

.avatar_block{
    margin-right: 10px;
}

.member_teams_list{
    list-style: circle outside none;
    margin-left: 40px;
    font-size: 1.3em;
}

.member_tabs{
    .tab_pane{
        margin:20px;        
    }
    
    h2{
        border:none;
    }
}
