.logo_bloatit {
    font-weight: bold;
    font-family: "Verdena",  sans-serif;
    letter-spacing:-0.05em;

}

.logo_bloatit_bloat {
    color:rgb(50,50,50);
}
.logo_bloatit_it {
    color: rgb(32,141,188);
}

#logo {
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
    font-size: 3em;
    text-shadow: 0.05em 0.05em 0.15em rgb(150,150,175);
}
