#notifications {
    font-size: 0.8em;
}

#notifications .notification_good {
    border: 1px solid rgb(200,255,200);
    background-color: rgb(250,255,250);
    padding: 0.5em;
}

#notifications .notification_bad {
    border: 1px solid rgb(255,225,200);
    background-color: rgb(255,253,250);
    padding: 0.5em;
}

#notifications .notification_error {
    border: 1px solid rgb(255,200,200);
    background-color: rgb(255,250,250);
    padding: 0.5em;
}
