www/fcgi.pyc
nbproject/
umlet.tmp
*.po~
.project
.pydevproject
doc/bdd.pdf
*.pyc
*.bak
locales/*
.LCK*~
.settings
target
nbactions.xml
.classpath
main/po/*~
main/po/*.mo
apt/.agitator
main/css
www/resources/commons/css/*.css
main/src/main/java/com/bloatit/web/url/?*Url.java
main/src/main/java/com/bloatit/web/url/?*UrlComponent.java
paylineWebservice/src/main/java/*
mvnst
#Liquidbase working file
main/src/main/resources/liquibase/working.liquibase.xml

# Maven release files
pom.xml.releaseBackup
release.properties

# Log from release scripts
log-*

# vim temp files
.*.swp
