www/fcgi.pyc
nbproject/
umlet.tmp
*.po~
.project
.pydevproject
doc/bdd.pdf
*.pyc
*.bak
locales/*
.LCK*~
.settings
target
nbactions.xml
.classpath
bin/
main/po/*~
main/po/*.mo
apt/.agitator
main/css
www/resources/css/
main/src/main/java/com/bloatit/web/utils/url/?*Url.java
paylineWebservice/src/main/java/*
