www/fcgi.pyc
nbproject/
umlet.tmp
.project
main/.factorypath
.pydevproject
doc/bdd.pdf
*.pyc
*.bak
locales/*
.settings
target
nbactions.xml
.classpath
apt/.agitator
main/css
www
resources/www_src/resources/commons/css/core.css
main/src/main/java/com/bloatit/web/url/?*Url.java
main/src/main/java/com/bloatit/web/url/?*UrlComponent.java
mvnst
bin
!less.js/bin
#Liquidbase working file
main/src/main/resources/liquibase/working.liquibase.xml

# Maven release files
pom.xml.releaseBackup
release.properties

# Log from release scripts
log-*

# vim temp files
.*.swp
**~

main/nb-configuration.xml
main/src/main/java/hibernate.cfg.xml
main/*.class

.gradle/
apt/build/
main/build/
paylineWebservice/build/
caches/

apt/src/main/resources/build.properties
main/src/main/resources/build.properties
main/src/main/resources/i18n/
paylineWebservice/src/main/resources/build.properties

