<?eclipse version="3.0"?>
<plugin id="demo" name="Demo Plug-in" version="1.0.0" provider-name="" class="demo.DemoPlugin">
	<runtime>
		<library name="demo.jar"/>
	</runtime>
	<requires>
		<import plugin="org.eclipse.core.runtime"/>
		<import plugin="org.eclipse.jdt.apt.core"/>
	</requires>
	<extension point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
		<factories enableDefault="true">
			<factory class="demo.TypeGeneratingAnnotationProcessorFactory"></factory>
			<factory class="demo.DemoAnnotationProcessorFactory"></factory>
		</factories>
	</extension>
</plugin>
