/*Declare logo font*/

@font-face {
    font-family : 'DejaVuSans';
    src: url('/resources/fonts/DejaVuSans.ttf') format('truetype');
}

@font-face {
    font-family : 'DejaVuSans-Bold';
    src: url('/resources/fonts/DejaVuSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family : 'DejaVuSansCondensed-Bold';
    src: url('/resources/fonts/DejaVuSansCondensed-Bold.ttf') format('truetype');
}

body {
   font-family: "DejaVuSans",  sans-serif;
   background-color: rgb(240,235,228);
   
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-shadow: 0.05em 0.05em 0.05em rgb(100,100,100);
}

.logo_bloatit {
    font-family: "DejaVuSansCondensed-Bold",  sans-serif;
    letter-spacing:-0.05em;
    
}

.logo_bloatit_bloat {
    color: black;
}
.logo_bloatit_it {
    /*color: rgb(0,174,14);*/
    color: rgb(200,32,0);
}