@font-face {
  font-family: 'Purisa';
  src: local('Purisa'), url('/resources/fonts/Purisa.ttf') format('truetype');
}
.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.padding { padding: 10px; }
.padding_box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.float_left { float: left; }
.float_right { float: right; }
.display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
@font-face {
  font-family: 'Purisa';
  src: local('Purisa'), url('/resources/fonts/Purisa.ttf') format('truetype');
}
.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.padding { padding: 10px; }
.padding_box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.float_left { float: left; }
.float_right { float: right; }
.display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
ul {
  margin: 1em;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
a {
  color: #176586;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.selected { color: #ff7b0f; }
.selected:hover { color: #ffb816; }
a:hover { color: #2297c9; }
h1 {
  margin: 0;
  margin-left: 0em;
  font-family: Purisa, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  color: #001e28;
  margin-bottom: 20px;
}
h2 {
  margin: 0;
  margin-left: 0em;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  color: #001e28;
  margin-bottom: 0px;
}
.karma {
  color: #ff7b0f;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 0.2em;
}
fieldset {
  margin: 30px auto 0;
  padding: 20px;
  border: none;
  border: 1px solid #c8c8c8;
}
.comment_format {
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
}
.field {
  margin: 8px;
  margin-bottom: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.field .label {
  display: table-cell;
  width: 150px;
  min-width: 150px;
  text-align: right;
  vertical-align: top;
  padding-top: 2px;
  padding-right: 10px;
}
.field .input { display: table-cell; }
.field .input .comment {
  float: left;
  max-width: 80%;
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  margin-top: 3px;
  margin-left: 0em;
}
.field .input .input_field {
  float: left;
  margin-right: 1em;
}
.field .input select {
  float: left;
  margin-right: 1em;
}
.field .input .comment_after {
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  width: 80%;
}
label {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}
input[type=text], input[type=password] {
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff), color-stop(0.2, #ffffff));
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
  padding: 2px;
  vertical-align: middle;
}
input[type=text]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
input[type=password]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
.money_input { font-size: 2em; }
.money_input input {
  width: 100px;
  text-align: right;
  font-size: 1em;
}
input:after { content: "€"; }
.input_long_500px { width: 500px; }
.input_long_400px { width: 400px; }
select {
  cursor: pointer;
  -moz-box-shadow: 0 0 3px #aaaaaa;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
}
textarea {
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #fafafa);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff));
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
  padding: 2px;
  vertical-align: middle;
}
textarea:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
.button {
  color: white;
  background: #c8c8c8;
  background: -moz-linear-gradient(90deg, #196f93, #208dbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbb), to(#196f93));
  border: 1px solid #176586;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px #323232;
  -moz-box-shadow: 0px 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  color: white;
  background: #e6e6e6;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
}
.button:active {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
}
.button:focus {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
}
input[type=submit], a.submit {
  background: #c8c8c8;
  background: -moz-linear-gradient(90deg, #196f93, #208dbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbb), to(#196f93));
  border: 1px solid #176586;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 160px;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  text-decoration: none;
  text-shadow: 0 1px 1px #323232;
  vertical-align: middle;
}
input[type=submit]:hover {
  color: white;
  background: #e6e6e6;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
  text-decoration: none;
}
a.submit:hover {
  color: white;
  background: #e6e6e6;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
  text-decoration: none;
}
input[type=submit]:active {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
input[type=submit]:focus {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
a.submit:active {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
a.submit:focus {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
.idea_conpact_summary {
  width: 100%;
  max-width: 600px;
  padding: 0px;
  margin-bottom: 2em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.idea_conpact_summary h3 {
  font-size: 1.1em;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}
.idea_conpact_summary .idea_link_text {
  color: #323232;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  max-width: 400px;
  text-align: justify;
}
.idea_conpact_summary .idea_progress_text {
  color: #323232;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 7px;
  color: #969696;
  text-align: center;
  max-width: 400px;
}
.idea_conpact_summary .idea_progress_text .important {
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
  color: #141414;
}
.idea_conpact_summary .idea_progress_text a { color: #6198b0; }
.idea_conpact_summary .idea_progress_text a:hover { color: #6db0cc; }
.idea_conpact_summary .idea_summary_left {
  display: table-cell;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
.idea_conpact_summary .idea_summary_left p {
  margin: 0px;
  padding: 0px;
}
.idea_conpact_summary .idea_summary_right img {
  border: none;
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}
.idea_conpact_summary .idea_summary_right {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.idea_conpact_summary .idea_summary_center {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}
.idea_conpact_summary .idea_summary_right h3 {
  margin: 10px;
  margin-top: 0px;
  padding: 0px;
  font-size: 1em;
}
.idea_conpact_summary .progress_block p {
  display: table-cell;
  padding-left: 0.5em;
  vertical-align: middle;
}
.idea_conpact_summary .progress_bar_block {
  margin-left: 0em;
  max-width: 400px;
}
.idea_conpact_summary .idea_karma {
  margin: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: bottom;
  background: -moz-radial-gradient(#f0f0ff, #dcdcf0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0ff), to(#dcdcf0), color-stop(0.5, #f0f0ff));
  border-right: 1px solid #bebec8;
  border-bottom: 1px solid #bebec8;
  color: #141914;
  font-size: 1em;
  width: 1.5em;
  text-align: center;
}
.idea_conpact_summary .idea_karma p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.idea_conpact_summary .progress_bar {
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 8px;
  border: 1px solid #969696;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.idea_conpact_summary .progress_bar_state {
  display: block;
  background: -moz-linear-gradient(90deg, #197096, #208dbc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbc), to(#197096));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 8px;
}
table {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #969696;
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #001e28;
  border-left: 1px solid #e1e1e1;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
th:first-child { border-left: 1px solid #969696; }
td {
  border-top: 1px solid #969696;
  border-left: 1px solid #e1e1e1;
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.money_cell { text-align: right; }
td:first-child { border-left: 1px solid #969696; }
tr:nth-child(even) { background-color: white; }
tr:nth-child(odd) { background-color: #fafafa; }
tr:nth-child(1) { background-color: #f0f0f0; }
blockquote {
  border: 1px solid #e1e1e1;
  border-left: 3px solid #969696;
  margin: 10px 0 10px 10px;
  padding-left: 5px;
  padding-right: 0;
  background-color: #f0f0f0;
}
dd {
  margin-left: 0px;
  padding-left: 30px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
}
dd:last-child { border-bottom: none; }
.feature_summary {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.feature_summary_top { margin-bottom: 5px; }
.feature_summary_left { display: table-cell; }
.feature_summary_center {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  width: 100%;
}
.feature_summary_center h1 {
  padding: 0;
  margin: 0;
}
.feature_summary_center h1 a { color: #00526c; }
.feature_summary_center .feature_title { font-size: 1.2em; }
.software_image {
  padding-right: 15px;
  border-right: 2px solid #e1e1e1;
}
.feature_software_title { color: #6c006c; }
.feature_summary_popularity {
  display: table-cell;
  vertical-align: bottom;
  width: 50px;
}
.feature_summary_progress {
  display: table-cell;
  width: 100%;
}
.feature_summary_share_button {
  display: table-cell;
  vertical-align: bottom;
  width: 50px;
}
.progress_bar_block {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  width: 80%;
}
.progress_bar_background {
  margin: 0px;
  display: block;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  height: 16px;
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
  padding: 0;
  margin-bottom: 0px;
  width: 100%;
}
.progress_bar_border {
  margin: 0px;
  display: block;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  height: 16px;
  border: 1px solid #111111;
  background: transparent;
  padding: 0;
  margin-bottom: 0px;
  margin-left: -1px;
  margin-top: -18px;
  width: 100%;
}
.progress_bar_state {
  display: block;
  background: #42af2d;
  background: -moz-linear-gradient(90deg, #319e2a, #53c12f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#53c12f), to(#319e2a));
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  height: 18px;
  margin: 0px;
  margin-top: -18px;
}
.feature_progress_text {
  color: #646464;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 7px;
  text-align: center;
}
.feature_progress_text .important {
  font-size: 1em;
  margin-left: 15px;
  margin-right: 15px;
  color: #001e28;
}
.feature_popularity_text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.7em;
}
.feature_popularity_score {
  padding: 0;
  margin: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1em;
  color: #001e28;
}
.feature_sumary_details {
  text-align: right;
  font-size: 0.8em;
  color: #646464;
}
.feature_sumary_details a { color: #7899a9; }
.compact_feature_summary {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.compact_feature_summary .feature_title {
  font-size: 1em;
  margin-bottom: 15px;
}
.compact_feature_summary .feature_progress_text { font-size: 0.8em; }
.compact_feature_summary .feature_progress_text .important {
  margin-left: 5px;
  margin-right: 5px;
}
.compact_feature_summary .feature_summary_center { padding-left: 20px; }
.compact_feature_summary .progress_bar_block {
  display: inline-block;
  margin: 0px;
  width: 100%;
}
.compact_feature_summary .feature_sumary_details {
  margin-top: 20px;
  text-align: right;
  font-size: 0.7em;
}
.feature_create_block {
  text-align: center;
  margin: 15px;
}
.feature_search_block {
  padding: 10px;
  margin-bottom: 15px;
}
.feature_search_block form {
  text-align: center;
  margin: 20px;
}
.feature_advanced_search_button {
  text-align: right;
  font-size: 0.7em;
}
.feature_filter, .feature_sort, .feature_order { font-size: 0.8em; }
ul {
  padding: 0;
  margin: 0;
}
li { margin-bottom: 15px; }
.field {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
}
input {
  padding: 0;
  margin: 0;
  float: none;
  width: 400px;
  display: inline-block;
}
input[type=submit] {
  margin-left: 10px;
  float: none;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  display: inline-block;
}
.no_result_block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
}
