@font-face {
  font-family: 'Purisa';
  src: local('Purisa'), url('/resources/fonts/Purisa.ttf') format('truetype');
}
.no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.padding { padding: 10px; }
.padding_box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.float_left { float: left; }
.float_right { float: right; }
.display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
@font-face {
  font-family: 'Purisa';
  src: local('Purisa'), url('/resources/fonts/Purisa.ttf') format('truetype');
}
.no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.padding { padding: 10px; }
.padding_box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.float_left { float: left; }
.float_right { float: right; }
.display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
ul {
  margin: 1em;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
a {
  color: #176586;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.selected { color: #ff7b0f; }
.selected:hover { color: #ffb816; }
a:hover { color: #2297c9; }
h1 {
  margin: 0;
  margin-left: 0em;
  font-family: Purisa, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  color: #001e28;
  margin-bottom: 20px;
}
h2 {
  margin: 0;
  margin-left: 0em;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  color: #001e28;
  margin-bottom: 0px;
}
.karma {
  color: #ff7b0f;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 0.2em;
}
fieldset {
  margin: 30px auto 0;
  padding: 20px;
  border: none;
  border: 1px solid #c8c8c8;
}
.comment_format {
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
}
.field {
  margin: 8px;
  margin-bottom: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.field .label {
  display: table-cell;
  width: 150px;
  min-width: 150px;
  text-align: right;
  vertical-align: top;
  padding-top: 2px;
  padding-right: 10px;
}
.field .input { display: table-cell; }
.field .input .comment {
  float: left;
  max-width: 80%;
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  margin-top: 3px;
  margin-left: 0em;
}
.field .input .input_field {
  float: left;
  margin-right: 1em;
}
.field .input select {
  float: left;
  margin-right: 1em;
}
.field .input .comment_after {
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  width: 80%;
}
.field .input .notification_error p {
  color: #646464;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  color: #dc0000;
}
label {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}
input[type=text], input[type=password] {
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff), color-stop(0.2, #ffffff));
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
  padding: 2px;
  vertical-align: middle;
}
input[type=text]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
input[type=password]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
.money_input { font-size: 2em; }
.money_input input {
  width: 100px;
  text-align: right;
  font-size: 1em;
}
.input_long_500px { width: 500px; }
.input_long_400px { width: 400px; }
select {
  cursor: pointer;
  -moz-box-shadow: 0 0 3px #aaaaaa;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
}
textarea {
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #fafafa);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff));
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
  padding: 2px;
  vertical-align: middle;
}
textarea:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
.button {
  color: white;
  background: #1b79a0;
  background: -moz-linear-gradient(90deg, #196f93, #208dbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbb), to(#196f93));
  border: 1px solid #176586;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px #323232;
  -moz-box-shadow: 0px 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  color: white;
  background: #2297c9;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
}
.button:active {
  background: #196f93;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
}
.button:focus {
  background: #196f93;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
}
input[type=submit], a.submit {
  background: #1b79a0;
  background: -moz-linear-gradient(90deg, #196f93, #208dbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbb), to(#196f93));
  border: 1px solid #176586;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 160px;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  text-decoration: none;
  text-shadow: 0 1px 1px #323232;
  vertical-align: middle;
}
input[type=submit]:hover {
  color: white;
  background: #2297c9;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
  text-decoration: none;
}
a.submit:hover {
  color: white;
  background: #2297c9;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
  text-decoration: none;
}
input[type=submit]:active {
  background: #196f93;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
input[type=submit]:focus {
  background: #196f93;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
a.submit:active {
  background: #196f93;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
a.submit:focus {
  background: #196f93;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
.idea_conpact_summary {
  width: 100%;
  max-width: 600px;
  padding: 0px;
  margin-bottom: 2em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.idea_conpact_summary h3 {
  font-size: 1.1em;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}
.idea_conpact_summary .idea_link_text {
  color: #323232;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  max-width: 400px;
  text-align: justify;
}
.idea_conpact_summary .idea_progress_text {
  color: #323232;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 7px;
  color: #969696;
  text-align: center;
  max-width: 400px;
}
.idea_conpact_summary .idea_progress_text .important {
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
  color: #141414;
}
.idea_conpact_summary .idea_progress_text a { color: #6198b0; }
.idea_conpact_summary .idea_progress_text a:hover { color: #6db0cc; }
.idea_conpact_summary .idea_summary_left {
  display: table-cell;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
.idea_conpact_summary .idea_summary_left p {
  margin: 0px;
  padding: 0px;
}
.idea_conpact_summary .idea_summary_right img {
  border: none;
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}
.idea_conpact_summary .idea_summary_right {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.idea_conpact_summary .idea_summary_center {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}
.idea_conpact_summary .idea_summary_right h3 {
  margin: 10px;
  margin-top: 0px;
  padding: 0px;
  font-size: 1em;
}
.idea_conpact_summary .progress_block p {
  display: table-cell;
  padding-left: 0.5em;
  vertical-align: middle;
}
.idea_conpact_summary .progress_bar_block {
  margin-left: 0em;
  max-width: 400px;
}
.idea_conpact_summary .idea_karma {
  margin: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: bottom;
  background: -moz-radial-gradient(#f0f0ff, #dcdcf0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0ff), to(#dcdcf0), color-stop(0.5, #f0f0ff));
  border-right: 1px solid #bebec8;
  border-bottom: 1px solid #bebec8;
  color: #141914;
  font-size: 1em;
  width: 1.5em;
  text-align: center;
}
.idea_conpact_summary .idea_karma p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.idea_conpact_summary .progress_bar {
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 8px;
  border: 1px solid #969696;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.idea_conpact_summary .progress_bar_state {
  display: block;
  background: -moz-linear-gradient(90deg, #197096, #208dbc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbc), to(#197096));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 8px;
}
table {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #969696;
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #001e28;
  border-left: 1px solid #e1e1e1;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
th:first-child { border-left: 1px solid #969696; }
td {
  border-top: 1px solid #969696;
  border-left: 1px solid #e1e1e1;
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.money_cell { text-align: right; }
td:first-child { border-left: 1px solid #969696; }
tr:nth-child(even) { background-color: white; }
tr:nth-child(odd) { background-color: #fafafa; }
tr:nth-child(1) { background-color: #f0f0f0; }
blockquote {
  border: 1px solid #e1e1e1;
  border-left: 3px solid #969696;
  margin: 10px 0 10px 10px;
  padding-left: 5px;
  padding-right: 0;
  background-color: #f0f0f0;
}
dd {
  margin-left: 0px;
  padding-left: 30px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
}
dd:last-child { border-bottom: none; }
@font-face {
  font-family: 'Purisa';
  src: local('Purisa'), url('/resources/fonts/Purisa.ttf') format('truetype');
}
.no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.padding { padding: 10px; }
.padding_box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.float_left { float: left; }
.float_right { float: right; }
.display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.offers_block {
  padding: 5px;
  padding-top: 10px;
}
.offer_type_block {
  padding: 0;
  margin: 0;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  width: 100%;
}
.offer_type_left_column {
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.offer_type_right_column {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  padding: 0;
  margin: 0;
}
.no_offer_block {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.offer_unselected_description {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #e1e1e1;
  width: 150px;
  font-size: 0.8em;
}
.offer_unselected_description p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.offer_unselected_description a {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.offer_selected_description {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #e1e1e1;
  width: 150px;
  font-size: 0.8em;
}
.offer_selected_description p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.offer_selected_description a {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.offer_selected_block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #f0fff0;
}
.offer_unselected_block {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #fafafa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.offer_left_top_column {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
}
.offer_left_top_column .avatar_block { margin-right: 10px; }
.offer_right_top_column {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 100%;
}
.offer_left_bottom_column {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: bottom;
  width: 90px;
  margin-right: 25px;
}
.offer_right_bottom_column {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 100%;
}
.offer_avatar, .offer_popularity {
  width: 50px;
  margin-right: 25px;
}
.offer_popularity_text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.7em;
}
.offer_popularity_score {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1em;
  color: #001e28;
}
.offer_popularity_judge {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0.7em;
}
.offer_popularity_judge a {
  padding: 0;
  margin: 0;
  display: block;
  vertical-align: middle;
  text-align: center;
  height: 10px;
}
.offer_popularity_judge .usefull { color: #005000; }
.offer_popularity_judge .useless { color: #ff0000; }
.offer_popularity_judged {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
  text-align: center;
  font-size: 0.6em;
}
.offer_popularity_judged p {
  padding: 0;
  margin: 0;
  margin-left: -10px;
}
.offer_popularity_judged .usefull { color: #005000; }
.offer_popularity_judged .useless { color: #ff0000; }
.offer_popularity_none {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 10px;
  height: 10px;
}
.offer_price_block {
  float: right;
  text-align: right;
  margin: 10px;
  margin-bottom: 0px;
}
.offer_block_price {
  display: inline-block;
  margin-left: 8px;
  font-size: 1.5em;
}
.offer_block_label {
  font-size: 0.8em;
  color: #646464;
}
.offer_block_author {
  color: #6c006c;
  font-size: 1.3em;
}
.offer_lot_block {
  padding-top: 5px;
  border-top: 2px solid #e1e1e1;
}
.offer_block_para {
  margin-top: 5px;
  margin-bottom: 15px;
}
.offer_block_para .offer_block_progress {
  display: inline-block;
  margin-left: 8px;
  font-size: 1.1em;
}
.offer_block_para .progress_bar_block {
  width: 200px;
  margin-left: 10px;
  margin-right: 0px;
}
.feature_summary {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.feature_summary_top { margin-bottom: 20px; }
.feature_summary_left { display: table-cell; }
.feature_summary_center {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-left: 20px;
  width: 100%;
}
.feature_summary_center h1 {
  padding: 0;
  margin: 0;
}
.feature_summary_left {
  padding-right: 15px;
  border-right: 2px solid #e1e1e1;
}
.feature_sumary_bottom {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-align: end;
  -webkit-box-pack: end;
  box-align: end;
  width: 100%;
}
.feature_summary_popularity {
  vertical-align: bottom;
  width: 80px;
}
.feature_summary_progress {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-bottom: 10px;
}
.feature_summary_progress .progress_text { font-size: 1.1em; }
.feature_summary_share_button {
  vertical-align: bottom;
  width: 50px;
}
.feature_summary_actions {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;
}
.feature_summary_actions_buttons {
  width: 100%;
  display: block;
}
.contribute_block, .report_bug_block {
  display: table-cell;
  width: 50%;
  text-align: center;
  border-right: 2px solid #e1e1e1;
}
.make_offer_block, .alternative_offer_block, .developer_description_block {
  display: table-cell;
  width: 50%;
  text-align: center;
}
.make_offer_block button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contribute_block button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.report_bug_block button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contribute_block p {
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
  height: 60px;
}
.make_offer_block p {
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
  height: 60px;
}
.alternative_offer_block p {
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.report_bug_block p {
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.developer_description_block {
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.feature_summary_share { font-size: 0.7em; }
.feature_popularity_text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.7em;
}
.feature_popularity_score {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1em;
  color: #001e28;
}
.feature_popularity_judge {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0.7em;
}
.feature_popularity_judge a {
  padding: 0;
  margin: 0;
  display: block;
  vertical-align: middle;
  text-align: center;
  height: 10px;
}
.feature_popularity_judge .usefull { color: #005000; }
.feature_popularity_judge .useless { color: #ff0000; }
.feature_popularity_judged {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
  text-align: center;
  font-size: 0.6em;
}
.feature_popularity_judged p {
  padding: 0;
  margin: 0;
  margin-left: -10px;
}
.feature_popularity_judged .usefull { color: #005000; }
.feature_popularity_judged .useless { color: #ff0000; }
.feature_popularity_none {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 10px;
  height: 10px;
}
#feature_summary_share {
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;
  display: none;
}
.share_item {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  height: 20px;
}
#content .tab_panel { margin-top: 20px; }
.description_block {
  padding: 1em;
  padding-bottom: 0.5em;
}
.description_text {
  margin-top: 0em;
  margin-bottom: 0.5em;
  text-align: justify;
}
.description_separator {
  width: 200px;
  height: 1px;
  border-top: 2px solid #e1e1e1;
}
.description_footer { margin-top: 2px; }
.description_details {
  display: table-cell;
  width: 100%;
  font-size: 0.9em;
  font-style: italic;
  color: #646464;
}
.description_translate {
  display: table-cell;
  font-size: 0.7em;
}
.comments_block {
  margin-top: 25px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 10px;
}
.comments_block h2 {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  font-size: 1.3em;
  font-weight: normal;
}
