//Colors defines

@orange: rgb(255,123,15);
@light_green: rgb(240,255,240);

@default_text_color: rgb(20,20,20);
@light_text_color: rgb(100,100,100);
@dark_text_color: rgb(0,0,0);
@big_text_color: rgb(0,69,92);

@default_background_color: rgb(240,240,240);
@light_background_color: rgb(250,250,250);
@selected_background_color: @light_green;
@very_light_background_color: white;
@hightlight_background_color: rgb(246, 246, 246);

@border_color: rgb(225, 225, 225);
@dark_border_color: rgb(150, 150, 150);

@default_link_color: rgb(23,101,134);
@dark_link_color: rgb(120,153,169);
@light_link_color: rgb(31,135,179);
@link_title_color: rgb(0,82,108);
@link_selected_color: @orange;


@default_karma_color: @orange;

@software_color: rgb(108,0,108);
@title_color: rgb(0,30, 40);
@light_title_color: rgb(0,121, 13);

@money_color: rgb(121,121,121);
@money_up_color: rgb(0,128,0);
@money_down_color: rgb(255,102,0);

@progress_color: rgb(33,125,163);
@progress_color_light: rgb(31,139,184);
@progress_color_dark: rgb(35,111,142);


@progress_color: rgb(33,125,163);
@progress_color_my: @progress_color+30;
@progress_color_my_light: @progress_color_light+30;
@progress_color_my_dark: @progress_color_dark+30;
//@progress_color_light: rgb(31,139,184);
//@progress_color_dark: rgb(35,111,142)

@progress_color_future: rgb(66,175,45);
@progress_color_future_light: rgb(83,193,47);
@progress_color_future_dark: rgb(49,158,42);



@progress_background_color: rgb(205,205,205);
@progress_background_color_light: rgb(214,214,214);
@progress_background_color_dark: rgb(196,196,196);



@progress_label_color: rgb(255,255,255);

@useful_color: rgb(0, 80, 0);
@useless_color: rgb(255, 0, 0);

@tab_dark_background_color: rgb(240,240,240);
@tab_light_background_color: rgb(250,250,250);

@good_color: rgb(92,162,0);
@bad_color: rgb(247,117,0);
@error_color: rgb(220,0,0);
