ul {
    margin: 1em;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;

    margin-bottom: 0.5em;
}

a {
    color: rgb(32,141,188);
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


a:hover {
    color: rgb(43,192,255);
}

h1 {
    margin: 0;
    margin-left: 1em;
    padding: 0.5em;
    font-size: 1.5em;

}

