.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
}
.padding_box {
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
  padding: 10px;
}
.no_insets {
  padding: 0;
  margin: 0;
}
.box {
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
}
.padding_box {
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
  padding: 10px;
}
ul {
  margin: 1em;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
a {
  color: #176586;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
a:hover { color: #2297c9; }
h1 {
  margin: 0;
  margin-left: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.karma {
  color: #20bc8d;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 0.2em;
}
.kudo_box {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 10px;
}
.kudo_box .kudo_box_up {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-bottom: 10px solid #208dbc;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
}
.kudo_box .kudo_box_down:hover { border-top: 10px solid #bc2020; }
.kudo_box .kudo_box_up:hover { border-bottom: 10px solid #16a016; }
.kudo_box .kudo_box_down {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 10px solid #208dbc;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
}
.kudo_box .kudo_box_score {
  width: 20px;
  font-weight: bold;
  text-align: center;
  color: #202958;
  margin-top: 3px;
  margin-bottom: 2px;
}
fieldset {
  margin: 30px auto 0;
  padding: 20px;
  border: none;
  border: 1px solid #c8c8c8;
}
.comment_format {
  color: #969696;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
}
.field {
  margin: 8px;
  vertical-align: middle;
  overflow: hidden;
}
.field .label {
  display: table-cell;
  width: 220px;
  min-width: 220px;
  text-align: right;
  vertical-align: top;
  padding-top: 2px;
}
.field .input { display: table-cell; }
.field .input .comment {
  float: left;
  max-width: 80%;
  color: #969696;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  margin-top: 3px;
  margin-left: 0em;
}
.field .input input {
  float: left;
  margin-right: 1em;
}
.field .input .comment_after {
  color: #969696;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  text-align: justify;
  width: 80%;
}
label {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 15px;
}
input[type=text], input[type=password] {
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff), color-stop(0.2, #ffffff));
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
  padding: 2px;
  vertical-align: middle;
}
input[type=text]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
input[type=password]:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
select {
  cursor: pointer;
  -moz-box-shadow: 0 0 3px #aaaaaa;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
}
textarea {
  width: 80%;
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #fafafa);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff));
  border: 1px solid #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
  padding: 2px;
  vertical-align: middle;
}
textarea:focus {
  border-color: #093c75;
  -moz-box-shadow: 0 0 3px #0459b7;
  -webkit-box-shadow: 0 0 3px #0459b7;
  outline: none;
}
.button {
  color: white;
  background: #c8c8c8;
  background: -moz-linear-gradient(90deg, #196f93, #208dbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbb), to(#196f93));
  border: 1px solid #176586;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px #323232;
  -moz-box-shadow: 0px 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  color: white;
  background: #e6e6e6;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
}
.button:active {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
}
.button:focus {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
}
input[type=submit], a.submit {
  background: #c8c8c8;
  background: -moz-linear-gradient(90deg, #196f93, #208dbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbb), to(#196f93));
  border: 1px solid #176586;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 238px;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  text-decoration: none;
  text-shadow: 0 1px 1px #323232;
  vertical-align: middle;
}
input[type=submit]:hover {
  color: white;
  background: #e6e6e6;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
  text-decoration: none;
}
a.submit:hover {
  color: white;
  background: #e6e6e6;
  background: -moz-linear-gradient(90deg, #196f93, #2bbffe);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2bbffe), to(#196f93));
  text-decoration: none;
}
input[type=submit]:active {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
input[type=submit]:focus {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
a.submit:active {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
a.submit:focus {
  background: #d2d2d2;
  background: -moz-linear-gradient(90deg, #2bbffe, #196f93);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#196f93), to(#2bbffe));
  outline: none;
}
.idea_conpact_summary {
  width: 100%;
  max-width: 600px;
  padding: 0px;
  margin-bottom: 2em;
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
}
.idea_conpact_summary h3 {
  font-size: 1.1em;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}
.idea_conpact_summary .idea_link_text {
  color: #323232;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  max-width: 400px;
  text-align: justify;
}
.idea_conpact_summary .idea_progress_text {
  color: #323232;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 7px;
  color: #969696;
  text-align: center;
  max-width: 400px;
}
.idea_conpact_summary .idea_progress_text .important {
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
  color: #141414;
}
.idea_conpact_summary .idea_progress_text a { color: #6198b0; }
.idea_conpact_summary .idea_progress_text a:hover { color: #6db0cc; }
.idea_conpact_summary .idea_summary_left {
  display: table-cell;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
.idea_conpact_summary .idea_summary_left p {
  margin: 0px;
  padding: 0px;
}
.idea_conpact_summary .idea_summary_right img {
  border: none;
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}
.idea_conpact_summary .idea_summary_right {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.idea_conpact_summary .idea_summary_center {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}
.idea_conpact_summary .idea_summary_right h3 {
  margin: 10px;
  margin-top: 0px;
  padding: 0px;
  font-size: 1em;
}
.idea_conpact_summary .progress_block p {
  display: table-cell;
  padding-left: 0.5em;
  vertical-align: middle;
}
.idea_conpact_summary .progress_bar_block {
  margin-left: 0em;
  max-width: 400px;
}
.idea_conpact_summary .idea_karma {
  margin: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: bottom;
  background: -moz-radial-gradient(#f0f0ff, #dcdcf0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0ff), to(#dcdcf0), color-stop(0.5, #f0f0ff));
  border-right: 1px solid #bebec8;
  border-bottom: 1px solid #bebec8;
  color: #141914;
  font-size: 1em;
  width: 1.5em;
  text-align: center;
}
.idea_conpact_summary .idea_karma p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.idea_conpact_summary .progress_bar {
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 8px;
  border: 1px solid #969696;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.idea_conpact_summary .progress_bar_state {
  display: block;
  background: -moz-linear-gradient(90deg, #197096, #208dbc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbc), to(#197096));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 8px;
}
.idea_progress_text {
  color: #323232;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 7px;
  color: #969696;
  text-align: center;
}
.idea_progress_text .important {
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
  color: #141414;
}
.idea_summary {
  width: 100%;
  padding: 0px;
  margin-bottom: 2em;
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
}
.idea_summary h3 {
  font-size: 1.1em;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}
.idea_summary_left {
  display: table-cell;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
.idea_summary_left p {
  margin: 0px;
  padding: 0px;
}
.idea_summary_right img {
  border: none;
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}
.idea_summary_action {
  display: table-cell;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #c8c8c8;
  text-align: center;
  vertical-align: middle;
}
.idea_summary_right {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.idea_summary_center {
  display: table-cell;
  text-align: justify;
  padding: 0;
  margin: 0;
  padding-right: 15px;
  vertical-align: middle;
  width: 100%;
}
.idea_summary_right h3 {
  margin: 10px;
  margin-top: 0px;
  padding: 0px;
  font-size: 1em;
}
.idea_karma {
  margin: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: bottom;
  background: -moz-radial-gradient(#f0f0ff, #dcdcf0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0ff), to(#dcdcf0), color-stop(0.5, #f0f0ff));
  border-right: 1px solid #bebec8;
  border-bottom: 1px solid #bebec8;
  color: #141914;
  font-size: 1em;
  text-align: center;
}
.progress_block p {
  display: table-cell;
  padding-left: 0.5em;
  vertical-align: middle;
}
.progress_bar_block { margin-left: 0em; }
.progress_bar {
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 16px;
  border: 1px solid #969696;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.progress_bar_state {
  display: block;
  background: -moz-linear-gradient(90deg, #197096, #208dbc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#208dbc), to(#197096));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  height: 16px;
}
.abstract_block {
  display: block;
  font-size: 0.7em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #e6e6e6;
  margin: 0;
}
.column {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.main_comment_block {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 1em;
  margin-right: 0.1em;
  padding-right: 0.1em;
  background: #fafafa;
  font-size: 1em;
}
.main_comment_block p {
  padding: 0.3em;
  margin-bottom: 1.6em;
}
.comment_reply { text-align: center; }
.comments_block {
  -moz-box-shadow: 0px 0 3px #646464;
  -webkit-box-shadow: 0 0 3px #646464;
  background: -moz-linear-gradient(90deg, #ebebeb, #fafafa);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ebebeb));
  padding: 0.5em;
  margin-top: 1em;
  font-size: 0.9em;
}
.child_comment_block {
  padding: 0.5em;
  margin: 0.5em;
  margin-left: 2em;
  margin-right: 0.1em;
  padding-right: 0.1em;
  font-size: 0.95em;
  border-top: 1px dashed #c8c8c8;
}
.comment_kudo_block {
  float: left;
  margin-right: 0.5em;
  text-align: center;
}
.child_comment_block p {
  padding: 0px;
  margin: 0px;
}
.description_block {
  padding: 0.5em;
  margin-top: 0em;
  margin-bottom: 1em;
  text-align: justify;
}
.comments_title {
  font-size: 0.9em;
  font-weight: bold;
}
.rightColumn {
  display: table-cell;
  padding: 0.2em;
  padding-top: 0em;
  vertical-align: top;
  min-width: 350px;
}
.right_block {
  margin: 0px;
  padding: 0px;
}
.leftColumn {
  display: table-cell;
  width: 100%;
  padding-right: 0.5em;
}
.contributors_block { font-size: 0.7em; }
.timeline_block {
  border-bottom: 1px dashed #c8c8c8;
  font-size: 0.7em;
}
.comment_author {
  font-size: 0.8em;
  font-style: italic;
}
.comment_author a { color: #9897dc; }
.comment_author a:hover { color: #b6b5dc; }
.comment_date {
  font-size: 0.8em;
  font-style: italic;
  color: #969696;
}
.description_details {
  float: right;
  text-align: center;
  border-left: 1px dashed #c8c8c8;
  margin: 0px;
  padding: 2px;
  padding-left: 6px;
}
.description_date {
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  font-style: italic;
  color: #969696;
}
.description_author {
  margin: 0px;
  padding: 0px;
}
.description_author a {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  color: #9897dc;
}
.description_author a:hover { color: #b6b5dc; }
.description_footer { clear: both; }
.offer_block {
  margin-top: 1em;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #fdfdfd;
}
.offer_block_validated {
  margin-top: 1em;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #dcffdc;
}
.offers_block {
  margin: 1em;
  line-height: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
.offer_validated_info {
  font-weight: bold;
  float: left;
}
.offer_info_block { padding-left: 1em; }
.offer_maint_block { margin-top: 0.3em; }
.offer_avatar {
  float: left;
  max-height: 120px;
  max-width: 100px;
  margin-right: 1em;
}
.contribute_block a {
  display: block;
  margin: 0px;
  margin-bottom: 15px;
  min-width: 120px;
}
.make_offer_block a {
  display: block;
  margin: 0px;
  min-width: 120px;
}
