<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Encrypting the db password -->
		<property name="connection.provider_class">
			org.jasypt.hibernate.connectionprovider.EncryptedPasswordDriverManagerConnectionProvider
    	</property>
		<property name="connection.encryptor_registered_name">
			strongHibernateStringEncryptor
    	</property>

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/bloatit</property>
		<property name="hibernate.connection.username">bloatit</property>
		<property name="hibernate.connection.password">ENC(us3xLptUBCU5Qc1l7H7M2Q==)</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="hibernate.hbm2ddl.auto">validate</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.jdbc.batch_size">25</property>

		<!-- second level cache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.id.new_generator_mappings">true</property>

		<!-- Hibernate search -->
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">/var/local/lucene/indexes</property>

		<!-- mapping -->
		<mapping class="com.bloatit.data.DaoAccount" />
		<mapping class="com.bloatit.data.DaoInternalAccount" />
		<mapping class="com.bloatit.data.DaoExternalAccount" />
		<mapping class="com.bloatit.data.DaoContribution" />
		<mapping class="com.bloatit.data.DaoTranslation" />
		<mapping class="com.bloatit.data.DaoTransaction" />
		<mapping class="com.bloatit.data.DaoDescription" />
		<mapping class="com.bloatit.data.DaoKudos" />
		<mapping class="com.bloatit.data.DaoComment" />
		<mapping class="com.bloatit.data.DaoTeamMembership" />
		<mapping class="com.bloatit.data.DaoTeam" />
		<mapping class="com.bloatit.data.DaoFeature" />
		<mapping class="com.bloatit.data.DaoMember" />
		<mapping class="com.bloatit.data.DaoOffer" />
		<mapping class="com.bloatit.data.DaoJoinTeamInvitation" />
		<mapping class="com.bloatit.data.DaoBankTransaction" />
		<mapping class="com.bloatit.data.DaoBug" />
		<mapping class="com.bloatit.data.DaoMilestone" />
		<mapping class="com.bloatit.data.DaoFileMetadata" />
		<mapping class="com.bloatit.data.DaoImage" />
		<mapping class="com.bloatit.data.DaoSoftware" />
		<mapping class="com.bloatit.data.DaoTeamRight" />
		<mapping class="com.bloatit.data.DaoHighlightFeature" />
		<mapping class="com.bloatit.data.DaoUserContent" />
		<mapping class="com.bloatit.data.DaoKudosable" />
		<mapping class="com.bloatit.data.DaoRelease" />
		<mapping class="com.bloatit.data.DaoMoneyWithdrawal" />
		<mapping class="com.bloatit.data.DaoInvoice" />
		<mapping class="com.bloatit.data.DaoContributionInvoice" />
		<mapping class="com.bloatit.data.DaoContact" />
		<mapping class="com.bloatit.data.DaoMilestoneContributionAmount" />
		<mapping class="com.bloatit.data.DaoVersionedString" />
		<mapping class="com.bloatit.data.DaoStringVersion" />
		<mapping class="com.bloatit.data.DaoNewsFeed" />

	</session-factory>
</hibernate-configuration>
