<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %-5p %m%n" />
		</layout>
	</appender>

	<appender name="syslog" class="org.apache.log4j.net.SyslogAppender">
		<param name="Facility" value="USER" />
		<param name="SyslogHost" value="localhost" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="elveosJava: %d{yyyy-MM-ddTHH:mm:ss} [%t] %p\t%m%n" />
		</layout>
	</appender>

	<appender name="fakesshguard" class="org.apache.log4j.net.SyslogAppender">
		<param name="Facility" value="AUTH" />
		<param name="SyslogHost" value="localhost" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="error" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${log4J.path}/errors.log" />
		<param name="MaxFileSize" value="1000KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-ddTHH:mm:ss} [%t] %p\t%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<appender name="info" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${log4J.path}/infos.log" />
		<param name="MaxFileSize" value="1000KB" />
		<param name="MaxBackupIndex" value="4" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-ddTHH:mm:ss} [%t] %p\t%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>

	<appender name="email" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPHost" value="localhost" />
		<param name="SMTPUsername" value="elveos" />
		<param name="Threshold" value="error" />
		<param name="BufferSize" value="512" />
		<param name="Subject" value="[log4j] Error on elveos.org" />
		<param name="From" value="noreply@linkeos.com" />
		<param name="To" value="thomas@linkeos.com" />
		<param name="Cc" value="fred@linkeos.com, yoann@linkeos.com" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-ddTHH:mm:ss} [%t] %p\t%m%n" />
		</layout>
	</appender>

	<!-- must be before the root element -->
	<logger name="org.hibernate">
		<level value="error" />
	</logger>
	<logger name="com.bloatit.data">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.model">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.web">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.framework">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.mail">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.rest">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.cache">
		<level value="info" />
	</logger>
	<logger name="com.bloatit.payment">
		<level value="trace" />
	</logger>
	<logger name="com.bloatit.fakesshguard">
		<level value="error" />
		<appender-ref ref="fakesshguard" />
	</logger>

	<root>
		<priority value="trace" />
		<appender-ref ref="console" />
		<!-- 
		<appender-ref ref="syslog" /> 
		<appender-ref ref="email" /> 
		-->
	</root>

</log4j:configuration>
